$edge: 6rem;
$x: $edge * cos($pi / 6);
$y: $edge * sin($pi / 6);

$x0: -$x / 2;
$y0: -$edge / 2 - $y;

@for $i from -10 to 20 {
  @for $j from -10 to 20 {
    
    $dx: $x * (2 * $i + $j);
    $dy: ($y + $edge) * $j;
    
    .cell_#{$i}_#{$j} {
      transform: translate($dx + $x0, $dy + $y0);

      & .cell--inner {
        left: -($dx + $x0);
        top: -($dy + $y0);
      }
    }
  }
}

@for $i from 0 to 5 {
  .cell_slide_#{$i} {
    z-index: $i;
  }
}

.cell {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

  .cell--inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .cell--text {
    width: 2 * $x;
    height: $edge + 2 * $y;
    line-height: $edge + 2 * $y;
    text-align: center;
    font-family: Consolas;
    font-size: 2.3rem;
    color: #222;
    background-color: rgba(255,255,255,.8);
    position: absolute;
  }